.window{
	min-height: 530px;
}

label{
	color: white;
	padding: 0 3px;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer !important;
}

.flat{
	border-radius: 0px;
}

#footer{
	background-color: #EBEBEB;
	padding: 20px 0;
	margin: auto;
}
